{
    "sensu": [
        {
            "name": "Sensu",
            "host": "{{ sensu_api_ip }}",
            "ssl": false,
            "port": {{ sensu_api_port }},
            "user": "{{ sensu_api_user }}",
            "pass": "{{ sensu_api_pass }}",
            "timeout": 5000
        }
    ],
    "uchiwa": {
        "user": "{{ uchiwa_user }}",
        "pass": "{{ uchiwa_pass }}",
        "port": {{ uchiwa_port }},
        "stats": 10,
        "refresh": 10000
    }
}
